.study-table-container{
  font-family:  Arial, sans-serif; 
}
.study-table-wrapper {
  overflow-x: auto;
  width: 99%;

}

.study-table-container {
  padding-top: 29px;
  margin-left: 240px;
  padding-bottom: 15px;
}

.study-table-container h2 {
  background-color: #00AEEF;
  color: white;
  padding: 12px 25px;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  margin: 0;
  width: 99%;
  /* width: 1568px;  */
  box-sizing: border-box;  
}

/* Table */
.study-table {
  /* width: 1568px;  */
  border-collapse: collapse;
  background-color: white;
  display: table;    
}

.study-table th,
.study-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

.study-table th {
  background-color: white;
  font-weight: bold;
}

/* Responsive tweak */
@media (max-width: 768px) {
  .study-table-container h2 {
    font-size: 18px;
    padding: 10px 15px;
  }

  .study-table th,
  .study-table td {
    padding: 10px;
    font-size: 14px;
  }

  .study-table {
    width: 1000px;
  }
}