.p-4 {
  text-align: left;
  padding: 0rem !important;
}

.course-header {
  margin-bottom: 20px;
}

.course-grid { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.course-card {
  border: 1px solid #22BBEA;
  border-radius: 20px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-top {
  /* Bỏ background-image vì đã xử lý động trong JSX */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35%;
  padding: 20px;
  position: relative;
}

.card-top h4 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 24px;
  color: #000; 
  margin-bottom: 48px;
}

.teacher-name {
  margin-bottom: 0px;
  font-weight: 500;
  color: black; 
}

.card-bottom {
  padding: 40px 20px 20px 20px;
  height: 65%;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff; 
}

.avatar-placeholder {
  position: absolute;
  top: -30px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  background-color: white;
}

.avatar-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-desc {
  font-size: 15px;
  color: rgb(133, 130, 130);
  line-height: 1.5;
}