.task-table-wrapper{
    margin: 100px 0px;
    text-align: left;
}
.task-table {
    width: 1200px;
    border: 1px solid rgb(0, 170, 255);
    border-spacing: 0;
    padding: 20px;
    border-radius: 20px;
}

.task-table thead {
    text-align: center;
}
tbody td{
    font-size: 18px;
}

.task-table tr {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.task-table th:first-child,
.task-table td:first-child {
    text-align: left;
}
.task-table th,
.task-table td {
    padding: 12px 16px;
    text-align: center;
}

.task-table th {
    font-weight: 600;
    font-size: 24px;
}

.task-status {
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

}
  
  /* Status styles */
  .task-status.cancel {
    color: #d32f2f; 

  }
  
  .task-status.in-progress {
    color: #f9a825; 
  }
  
  .task-status.completed {
    color: #388e3c;
  }
  

  

  

  /* Course name base style */
  .course-name {
    color: #333;
    font-weight: 500;
  }
  
  /* Course-specific colors */
  .course-name.course-toeic {
    color: rgb(0, 170, 255);
  }
  
  .course-name.course-it-english {
    color: rgb(255, 153, 0);
  }
  
  .course-name.course-speaking {
    color: black;
  }
