.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  width: 350px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.popup h3 {
  margin-bottom: 25px;
  font-size: 18px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.popup-buttons{
  display: flex;
  gap:30px;
}
.btn-delete:first-child{
  background-color: #FF9933;
}
.btn-delete{
  max-width: 100px;
  max-height: 100px;
}




.btn-delete:last-child{
  background-color: rgb(251, 12, 12);
}