input.form-control,
select.form-control {
  width: 90%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #FF9933;
  border: 1px solid #FF9933;
  font-size: 14px;
  cursor: pointer;
  cursor: pointer;
}
select.form-control{
  width: 95%;
}
.fa-caret-down::before {
  content: none !important;
}
.goal-form .title {
  font-size: 20px;
margin-left: 10px;
}

.button-update{
   width: 40%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff9933;
}
.edit-your-goal{
  margin-top: 20px;
}

.button-save{
   margin-top: 20px;
  max-height: 40px;
  background-color: #FF9933;
  border-radius: 10px;
}
.button-save:hover{
   margin-top: 10px;
  max-height: 40px;
  background-color: #FF9933;
  border-radius: 10px;
}
.goal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* màu đen mờ */
  z-index: 9999;
    display: flex;
  justify-content: center;
  align-items: center;
}
