.action-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    gap: 16px;
  }
  
  .action-button {
    border: 1px solid #93c5fd; /* border-blue-300 */
    border-radius: 1rem; /* rounded-2xl */
    padding: 16px;
    text-align: center;
    width: 96px; /* w-24 */
  }
  
  .action-icon {
    font-size: 2rem; /* text-4xl */
    margin-bottom: 8px;
  }
  
  .action-label {
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
  }
  