.overlay {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 10px;
  
}

.form-container6 {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  max-height: 80vh;     
  overflow-y: auto;   
  border-radius: 10px;

}

.self-study-plan-form{
  display: flex;
  grid-template-columns: 1fr 1fr;
   max-height: 500px;
  overflow-y: auto;
  background-color: #ffff;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
}
.save-self, .cancle-self{
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.save-self{
  background-color: #ff9933;
}
.cancle-self{
  background-color: red;
}
