.date-input {
    border: none;
    font-size: 15px;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    padding-right: 0px; /* Reduce space on the right */
    padding-left: 5px;   /* Small left indent */
    appearance: none;    /* Optional: remove default icon */
  }
  
  .date-input:focus {
    outline: none;
    background-color: #f9f9f9;
  }
  
  /* Optional: Better styling across browsers */
  .date-input::-webkit-calendar-picker-indicator {
    margin-left: -17px; 
    padding: 0;
    cursor: pointer;
    filter: opacity(0.7); 
  }
  
  .date-input::-moz-focus-inner {
    border: 0;
  }
  