.your-goal-big{
  width:calc(100%-250px);
  margin-left: 250px;
   display: flex;
  flex-direction: column;
  min-height: 100vh;  
  padding: 0px 20px;
}

.goal-header{
  display: flex;
  justify-content:center;
}
.table-your-goal {
  margin-right: 2%;
  border-collapse: collapse; 
}
.table-goal thead th{
  background-color: #ff9933;
  color: #fff;
  padding: 10px;
  border: 1px solid #ccc;

}

.table-your-goal {
  width: 100%;
  border-collapse: collapse;
}

.table-your-goal tbody td {
  border: 1px solid #ccc;
  padding: 8px;
  word-wrap: break-word;
  text-align: center;
    max-width: 200px;
  white-space: normal;
}

.goal-header {
  display: flex;
  justify-content: center;   
  align-items: center;
  position: relative;         
  padding: 10px 0;
}

.goal-header h2 {
  margin: 0;
  margin-bottom: 40px;
}

.add-goal-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon_add {
  width: 24px;
  height: 24px;
  margin-right: 35px;
  margin-bottom: 40px;
}
