.selfstudy-add-button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
  border: none;
  background-color: #ff9933;
  color: #fff;
  border-radius: 10px;
  margin-top: 30px;
}

.selfstudy-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.self-study-plan-form {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1010;
  width: 400px !important;
}


.form-group-self {
  margin-bottom: 15px;
}

.form-group-self label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.form-group-self input,
.form-group-self select,
.form-group-self textarea {
  margin-top: 6px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid #ff9933;
}

.form-group-self textarea {
  min-height: 60px;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-weight: 700;
}
.self-study-plan-form h2{
  text-align: center;
  font-size: 20px;
  background-color: #ff9933;
}
.form-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.form-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-buttons button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.form-buttons{
  display: flex;
  gap: 30px;
}
.save, .cancel{
  padding: 5px;
  background-color: #ff9933;
  border: none;
  color: #fff;
  border-radius: 10px;
}
.cancel{
  background-color: red;
}