.progress-container {
    border: 1px solid #00aaff; 
    border-radius: 10px;
    display: flex;
    padding: 20px;
    gap: 50px;
    height: 100%;
    margin-left: 20px;
  }
  
  .progress-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  .progress-item h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
  }
  .progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-items-container {
  display: flex;  /* Align items in a row */
  justify-content: space-between; /* Distribute the items evenly */
  width: 100%;  /* Ensure the items take up the full width */
}

.progress-item {
  width: 45%;  /* Set width for each progress item */
  text-align: center;  /* Center the text */
}

.error-message {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  margin-top: 10px;
}
