.progress-dashboard{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 20px 0px;
  justify-content: space-between;
  height: 320px;
  margin-top: 100px;
}
.calendar-container {
  padding: 20px;
  border: 1px solid #00BFFF;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #00BFFF;
}

.calendar-header span {
  font-weight: bold;
  font-size: 16px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* gap: 5px; */
  flex-grow: 1; 
}

.day-label {
  font-weight: bold;
  color: rgb(255, 153, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-bottom: 10px;
} 

/* Day styling */
.day {
  padding: 10px;
  font-size: 14px;
  border-radius: 50%;
}

/* Days from other months */
.day-empty {
  color: #ccc;
}

/* Highlighted current day */
.day-highlight {
  background-color: rgb(255, 153, 0);
  color: #fff;
  font-weight: 600;
  position: relative;
  border-radius: 50%;
}



