.dashboard {
  margin-left: 240px; 
  padding: 0px 20px;
  max-width: 100%;
  justify-content: center;
}

/* Confession */
.confession-container {
  display: flex;
  border: 1px solid #00aaff;
  border-radius: 10px;
  margin-top: 100px;
  max-height: 600px;
  position: relative;
  text-align: left;
}

.form-section {
  flex: 2;
  padding: 20px;
  max-width:45%;
}

.form-title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 32px;
}

.form-description {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.send-button {
background-color: #ff9900;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 20px;
font-size: 16px;
cursor: pointer;
margin: 10px auto; 
display: block;     
}
.send-button:hover {
  background-color: #e68a00;
}


.info-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.info-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.social-icon {
  background-color: #fff;
  color: #00aaff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.info-address {
  font-size: 12px;
  color: #fff;
}
.confession-container {
display: flex;
align-items: center; 
border: 1px solid #00aaff;
border-radius: 10px;
}

.info-section {
flex: 1;
background-color: #00aaff;
color: #fff;
padding: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
display: flex;
flex-direction: column;
color: #000000;
height: auto;
max-width:40%;
float: right;
margin-left: 15%;
z-index: 999;
}
.orange-strip {
position: absolute;
background-color: #ff9900;
width: 150px;
height: 100%;
right: 0;
z-index: -1;
border-radius: 0px 10px 10px 0px;
}