html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background: #fff;
  border-right: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 24px 0;
  min-height: 100vh;
  position: fixed;
  z-index: 9900;
  /* position: fixed; */
}

.sidebar-logo {
  margin-bottom: 32px;
  font-size: 44px;
}

.sidebar-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  text-decoration: none;
  color: #222;
  background: transparent;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  transition: background 0.18s, color 0.18s;
}

.sidebar-link:hover {
  background: #f5f5f5;
  color: #ff9900;
}

.sidebar-link-active {
  color: #ff9900;
  background: #f9f3e9;
  font-weight: 500;
}

.sidebar-link-icon {
  font-size: 20px;
  margin-right: 14px;
}

.main-content-area {
  background: #fafbfc;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-left: 200px; */
  overflow-x: hidden;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 

